block body-scripts
  //- *** START Header service will provide all of these items when wired up

  script(src='#{CDN("/statics/bower_components/jquery/dist/jquery.min.js")}', data-id='js-jquery')
  script(src='#{CDN("/statics/bower_components/async/lib/async.js")}', data-id='js-async')
  script(src='#{CDN("/statics/bower_components/bootstrap/dist/js/bootstrap.min.js")}', data-id='js-bootstrap')
  script(src='#{CDN("/statics/bower_components/lodash/dist/lodash.min.js")}', data-id='js-lodash')
  script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js', data-id='js-modernizr')
  script(src='#{CDN("/statics/bower_components/moment/min/moment.min.js")}', data-id='js-moment')
  script(src='//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js', data-id='js-moment')

  script(src='#{CDN("/statics/bower_components/angular/angular.min.js")}', data-id='js-angular')
  script(src='#{CDN("/statics/bower_components/angular-animate/angular-animate.min.js")}', data-id='js-angular-animate')
  script(src='#{CDN("/statics/bower_components/angular-aria/angular-aria.min.js")}', data-id='js-angular-aria')
  script(src='#{CDN("/statics/bower_components/angular-material/angular-material.min.js")}', data-id='js-angular-material')
  script(src='#{CDN("/statics/bower_components/angular-resource/angular-resource.min.js")}', data-id='js-angular-resource')
  script(src='#{CDN("/statics/bower_components/angular-ui-router/release/angular-ui-router.min.js")}', data-id='js-angular-ui-router')

  //- *** END Header service items

  //- Setup any globals for the app
  script.
    window.__env = '#{ isDevelopment?"dev":process.env.NODE_ENV }';
    window.__year = '#{process.env.YEAR}';
    window.__paymentUri = '#{process.env.PAYMENT_BASE_URL}';
    window.__startTime = #{process.env.START_TIME_MS};
    window.__stripeThumbnailImageUrl = '#{process.env.STRIPE_THUMBNAIL_IMAGE_URL}';
    window.__stripeBackgroundImageUrl = '#{process.env.STRIPE_BACKGROUND_IMAGE_URL}';

  //- Angular app bundle
  - if (isDevelopment)
    script(src='#{CDN("/js/script.js")}', data-id='js-app')
  - else
    script(src='#{CDN("/js/script.min.js")}', data-id='js-app')

  //- Scripts loaded, now show body of page
  script.
    $('body').removeAttr('unresolved');

  //- Add livereload to help in local development only
  if (isDevelopment)
    script(src='//localhost:35729/livereload.js', async, data-id='js-livereload')
