block header-meta
  - var siteUrl = 'https://ncaa.n8io.com';
  - var title = 'March Madness ' + (new Date()).getFullYear();
  - var imageUrl = 'https://camo.githubusercontent.com/1aeb796404cff9f90244f46b88db2d3f7646d1fc37b14b2832a5bda455a81c32/68747470733a2f2f75706c6f61642e77696b696d656469612e6f72672f77696b6970656469612f656e2f7468756d622f322f32382f4d617263685f4d61646e6573735f6c6f676f2e7376672f32383070782d4d617263685f4d61646e6573735f6c6f676f2e7376672e706e67';
  - var desc = 'Get your picks in. Come and join our pool.';
  
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible',content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='author', content='n8io')
  meta(description='Get your picks in. Come and join our pool.')
  
  script(type='application/ld+json').
    {
      "@context": "http://schema.org",
      "@type": "Event",
      "name": "#{title}",
      "description": "#{desc}",
      "image": "#{imageUrl}",
      "startDate" : "2016-03-18T12:05:00-05:00",
      "url" : "#{siteUrl}",
      "location" : {
        "@type" : "Place",
        "sameAs" : "https://espn.go.com",
        "name" : "#{title}",
        "address" : "Norton, OH 44203"
      }
    }
  
  meta(property='og:title', content='#{title}')
  meta(property='og:site_name', content='#{title}')
  meta(property='og:description', content='#{desc}')
  meta(property='og:url', content='#{siteUrl}')
  meta(property='og:type', content='website')
  meta(property='og:image', content='#{imageUrl}')
    
  meta(property='twitter:card', content='summary')
  meta(property='twitter:site', content='#{title}')
  meta(property='twitter:title', content='#{title}')
  meta(property='twitter:description', content='#{desc}')
  meta(property='twitter:summary', content='#{desc}')
  meta(property='twitter:image:src', content='#{imageUrl}')
